<div class="container-fluid" >
    <h1>O Angular</h1>
    <div id="texto">
        <p>O angular é um framework de código fonte aberto feito em lingaugem TypeScript desenvolvido pela Google. O Angular
            atual é uma reescrição do AngularJs.</p>
        <p>O objetivo do Angular é deixar uma pagina mais dinâmica, criando uma single page, onde quando o usúario faz
            alguma requisição, ao ínves de recarregar toda a página, ele irá carregar apenas aquilo que é necessário ser
            mudado. O Angular torna o trafégo de dados menor devido a carregar apenas o que for necessário.</p>
        <p>Ele oferece uma grande variedade de estruturas para fazer o desenvolvimento do front-end.</p>
    </div>

    <div id="video">
        <iframe width="784" height="441"  src="https://www.youtube.com/embed/YX0y1FMlb8I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>