<h1>Pacientes</h1>

<table class="table table-secondary table-bordered table-hover">
    <thead>
        <tr>
            <th>Paciente</th>
            <th>Prioridade</th>
            <th>Atendido:</th>
            <th class="text-center">
                <a class="btn btn-sm btn-success"  [routerLink]="['/pacientes/cadastrar']">
                    <span class="fas fa-plus" aria-hidden="true"></span> Novo
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let paciente of pacientes" [hidden]='paciente.ativo'>

                <td [pacienteAtendido]="paciente.atendido">

                    {{paciente.nome}}
                </td>
                <td>

                    {{paciente.prioridade}}
                </td >
                <td style="width: 70px" class="text-center">
                    <input type="checkbox" [value]="paciente.id" [checked]="paciente.atendido" (click)="alterarStatus(paciente)" >
                </td>
                <td  class="text-center" style="width: 200px">
                    <a title="Editar" alt="Editar" class="btn btn-sm btn-info mr-1" [routerLink]="['/pacientes/editar', paciente.id]">
                        <span class="far fa-edit" aria-hidden="true"></span> Editar
                    </a>
                    <a title="Remover" alt="Remover" class="btn btn-sm btn-danger" (click) = 'remover($event, paciente)' value="Remover">
                        <span  class="fas fa-trash" aria-hidden="true" ></span> Remover
                    </a>
                </td>
        </tr>
    </tbody>
</table>

<p *ngIf="pacientes.length == 0">Nenhum paciente cadastrado.</p>