<div class="container-fluid">
    <h1 style="text-align: center;">Instalado o Angular</h1>
    <div id="conteudo">
        <p>Para se usar o Angular iniciamente é necessário fazer as instalações iniciais. Para fazer a instalação em seu
            computador rode o seguinte comando no seu prompt: </p>
        <div class="card bg-dark codigos mb-2">
            <strong class="mt-1 mb-1 ml-3">npm install g @angular/cli</strong>
        </div>
        <p>O Angular CLI irá te permitir criar projetos, modulos, componentes e demais afins de formas mais rápida e
            prática.</p>
        <br>
        <p>Após a instalação do Angular CLI, você pode criar programas utilizando Angular. Inicialmente entre no local
            da memória em que deseja criar um novo projeto, e utilize o seguinte comando:</p>
        <div class="card bg-dark codigos mb-2">
            <strong class="mt-1 mb-1 ml-3">ng g new nomeDoProjeto</strong>
        </div>
        <p>Este comando instalará todos os pacotes e arquivos necessários para o funcionamento do Angular
            automaticamente, além de criar os primeiros arquivos necessários para iniciar um projeto.</p>

        <div>
            <div class="imagens">
                <img class="imagens-exemplo" src="assets/imagens/pastas-angular.JPG" alt="Pastas">
            </div>
            <p style="text-align: center;"><small>Dentro da pasta criada.</small></p>

            <div class="imagens">
                <img class="imagens-exemplo" src="assets/imagens/pastas2-angular.JPG" alt="Pastas">
            </div>
            <p style="text-align: center;"><small>Dentro da pasta src.</small></p>

            <div class="imagens">
                <img class="imagens-exemplo" src="assets/imagens/pasta-app.JPG" alt="Pastas">
            </div>
            <p style="text-align: center;"><small>Dentro da pasta app(local onde será criado seus modulos e
                    componentes).</small></p>
        </div>



        <br>

        <p style="text-align: center;"><small>Vale lembrar, que para usar o Angular você precisa inicialmente ter
                instalado o Node JS em seu computador.</small></p>

        <br>

        <p>Após a criação do projeto, você poderá executar o seu projeto utilizando o comando dentro da pasta que seu
            projeto foi criado: </p>
        <div class="card bg-dark codigos mb-2">
            <strong class="mt-1 mb-1 ml-3">ng serve</strong>
        </div>

        <p>Por padrão o Angular iniciara utilizando a porta local 4200 do seu computador, você poderá acessar a página
            através do seu navegador e entrando no link: localhost:4200</p>
        <p>Está deverá ser a visualização no seu navegador:</p>
        <div class="imagens">
            <img src="https://angular.io/generated/images/guide/setup-local/app-works.png" alt="pagina" width="70%">
        </div>

        <br><br>

        <div>
            <p style="text-align: center;">Após constatar que está tudo funcionando, você pode dar continuidade em seu
                projeto. Veja outras funções
                nas próximas páginas.</p>
        </div>

        <p style="text-align: center;"><a href="https://angular.io/guide/setup-local" target="_blank">documentação oficial</a></p>


    </div>


</div>