<div class="container-fluid">
    <h1 style="text-align: center;">Os componentes</h1>

    <div id="conteudo">
        <p>
            Os componentes são partes importantes do Angular, eles são as partes/páginas que vão ser mostradas ao
            usúario.
        </p>
        <p>
            Os componentes consistem em um html, css, um component.ts e um component.ts para testes. O arquivo .ts serve para executar as funções da página, que normalmente ficam localizas no service.
        </p>
        <p>Você pode criar um componente novo para cada "página" que você deseja criar. Para criar uma pasta onde terá os seus componentes digite o seguinte código:</p>
        <div class="card bg-dark codigos mb-2">
            <strong class="mt-1 mb-1 ml-3">ng g component nomeDoComponente</strong>
        </div>
        <p style="text-align: center;"><small>Ou use a versão simplificada:</small> </p>
        <div class="card bg-dark codigos mb-2">
            <strong class="mt-1 mb-1 ml-3">ng g c nomeDoComponente</strong>
        </div>

        <br>

        <p>Você também pode especificar em qual pasta quer que seja criada os seus componentes, colocando o nome da pasta que deseja que seja criado o componente, seguido por uma barra, como no exemplo a seguir:</p>
        <div class="card bg-dark codigos mb-2">
            <strong class="mt-1 mb-1 ml-3">ng g c pastaEscolhida/nomeDoComponente</strong>
        </div>

        <br>


        <p>Após criar um componente, especifique no modulo os componentes que irá utilizar. Para isso coloque em declarations o nome da classe do componte (presente no arquivo ts criado), e faça sua importação no topo da página.</p>
        <div class="imagens">
            <img class="imagens-exemplo" src="/assets/imagens/componentes.JPG" alt="Imagem de exemplo">

        </div>

        <br>

        <p style="text-align: center;"><a href="https://angular.io/guide/architecture-components" target="_blank">documentação oficial.</a></p>
    
    </div>


</div>