<div class="container-fluid">
    <h1 style="text-align: center;">Os Módulos</h1>

    <div id="conteudo">
        <p>
            Os módulos em Angular são uma forma de agrupar componentes, diretivas, pipes e serviços que possuem algum relacionamento. De uma forma mais simples de entender, um módulo é como se fosse um grupo de funções que trabalham juntos para rodar alguma determinada aplicação. São nos módulos que você exporta as funcionalidades para outras pastas e arquivos, além de importar as funções que irá utilizar em sua aplicação.
        </p>

        <p>Ao criar um projeto Angular, o projeto irá vir com um Módulo principal, onde quaisquer outros módulos devem ser importados no local. Caso deseje criar um novo módulo, utilize o código:</p>
        <div class="card bg-dark codigos mb-2">
            <strong class="mt-1 mb-1 ml-3">ng g module nomeDoModulo</strong>
        </div>
        <p style="text-align: center;"><small>Ou use a versão simplificada:</small> </p>
        <div class="card bg-dark codigos mb-2">
            <strong class="mt-1 mb-1 ml-3">ng g m nomeDoModulo</strong>
        </div>

        <br>

        <p>Você também pode especificar em qual pasta quer que seja criada os seus módulos, colocando o nome da pasta que deseja que seja criado o módulo, seguido por uma barra, como no exemplo a seguir:</p>
        <div class="card bg-dark codigos mb-2">
            <strong class="mt-1 mb-1 ml-3">ng g c pastaEscolhida/nomeDoModulo</strong>
        </div>

        <br>


        <p>Sempre que criar um novo módulo se lembre de declara-lo no módulo principal (app.module.ts)</p>
        <div class="imagens">
            <img class="imagens-exemplo" src="/assets/imagens/modulos.JPG" alt="Imagem de exemplo">

        </div>

        <br>

        <p style="text-align: center;"><a href="https://angular.io/guide/architecture-modules " target="_blank">documentação oficial.</a></p>
    
    </div>


</div>