<div class="container-fluid">
    <h1 style="text-align: center;">Os Serviços</h1>

    <div id="conteudo">
        <p>
           Os serviços (services) são onde ficará toda a parte lógica das suas páginas. As classes e funções dos servços são chamadas pelos componentes, executam alguma função e depois retornam o resultado para o componente. Você pode criar a quantidade de services que achar necessário para seu projeto, porém o ideal é um service para cada grupo de funcionalidades relacionadas.
        </p>

        <p>Você pode criar um service de forma rapida usando o seguinte código:</p>
        <div class="card bg-dark codigos mb-2">
            <strong class="mt-1 mb-1 ml-3">ng g service nomeDoServico</strong>
        </div>
        <p style="text-align: center;"><small>Ou use a versão simplificada:</small> </p>
        <div class="card bg-dark codigos mb-2">
            <strong class="mt-1 mb-1 ml-3">ng g s nomeDoServico</strong>
        </div>

        <br>

        <p>Você também pode especificar em qual pasta quer que seja criada os seus serviços, colocando o nome da pasta que deseja que seja criado o serviço, seguido por uma barra, como no exemplo a seguir:</p>
        <div class="card bg-dark codigos mb-2">
            <strong class="mt-1 mb-1 ml-3">ng g c services/nomeDoServico</strong>
        </div>

        <br>


        <p>Sempre que criar um novo serviço, se lembre de chama-lo no módulo da aplicação, na aba de "providers":</p>
        <div class="imagens">
            <img class="imagens-exemplo" src="/assets/imagens/servicos.JPG" alt="Imagem de exemplo">

        </div>

        <br>

        <p style="text-align: center;"><a href="https://angular.io/tutorial/toh-pt4" target="_blank">documentação oficial.</a></p>
    
    </div>


</div>